<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>miner-happy-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,207},{140,203}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,203}}</string>
                <key>sourceSize</key>
                <string>{150,203}</string>
            </dict>
            <key>miner-happy-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{140,203}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,203}}</string>
                <key>sourceSize</key>
                <string>{150,203}</string>
            </dict>
            <key>miner-pull-heavy-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,286},{140,181}}</string>
                <key>offset</key>
                <string>{-5,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,20},{140,181}}</string>
                <key>sourceSize</key>
                <string>{150,203}</string>
            </dict>
            <key>miner-pull-heavy-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,144},{140,183}}</string>
                <key>offset</key>
                <string>{-5,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,19},{140,183}}</string>
                <key>sourceSize</key>
                <string>{150,203}</string>
            </dict>
            <key>miner-pull-heavy-10.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,144},{140,181}}</string>
                <key>offset</key>
                <string>{-5,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{140,181}}</string>
                <key>sourceSize</key>
                <string>{150,203}</string>
            </dict>
            <key>miner-pull-heavy-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{693,144},{140,181}}</string>
                <key>offset</key>
                <string>{-5,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,20},{140,181}}</string>
                <key>sourceSize</key>
                <string>{150,203}</string>
            </dict>
            <key>miner-pull-heavy-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,144},{140,181}}</string>
                <key>offset</key>
                <string>{-5,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,20},{140,181}}</string>
                <key>sourceSize</key>
                <string>{150,203}</string>
            </dict>
            <key>miner-pull-heavy-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,144},{140,181}}</string>
                <key>offset</key>
                <string>{-5,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,20},{140,181}}</string>
                <key>sourceSize</key>
                <string>{150,203}</string>
            </dict>
            <key>miner-pull-heavy-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,878},{140,181}}</string>
                <key>offset</key>
                <string>{-5,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,20},{140,181}}</string>
                <key>sourceSize</key>
                <string>{150,203}</string>
            </dict>
            <key>miner-pull-heavy-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{711,2},{140,183}}</string>
                <key>offset</key>
                <string>{-5,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,18},{140,183}}</string>
                <key>sourceSize</key>
                <string>{150,203}</string>
            </dict>
            <key>miner-pull-heavy-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,695},{140,181}}</string>
                <key>offset</key>
                <string>{-5,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{140,181}}</string>
                <key>sourceSize</key>
                <string>{150,203}</string>
            </dict>
            <key>miner-pull-heavy-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,512},{140,181}}</string>
                <key>offset</key>
                <string>{-5,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{140,181}}</string>
                <key>sourceSize</key>
                <string>{150,203}</string>
            </dict>
            <key>miner-pull-heavy-9.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,329},{140,181}}</string>
                <key>offset</key>
                <string>{-5,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{140,181}}</string>
                <key>sourceSize</key>
                <string>{150,203}</string>
            </dict>
            <key>miner-pull-light-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,2},{140,189}}</string>
                <key>offset</key>
                <string>{-5,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,13},{140,189}}</string>
                <key>sourceSize</key>
                <string>{150,203}</string>
            </dict>
            <key>miner-pull-light-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,2},{140,189}}</string>
                <key>offset</key>
                <string>{-5,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,13},{140,189}}</string>
                <key>sourceSize</key>
                <string>{150,203}</string>
            </dict>
            <key>miner-pull-light-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,794},{140,189}}</string>
                <key>offset</key>
                <string>{-5,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,13},{140,189}}</string>
                <key>sourceSize</key>
                <string>{150,203}</string>
            </dict>
            <key>miner-pull-light-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,603},{140,189}}</string>
                <key>offset</key>
                <string>{-5,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,13},{140,189}}</string>
                <key>sourceSize</key>
                <string>{150,203}</string>
            </dict>
            <key>miner-pull-light-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,412},{140,189}}</string>
                <key>offset</key>
                <string>{-5,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,13},{140,189}}</string>
                <key>sourceSize</key>
                <string>{150,203}</string>
            </dict>
            <key>miner-pull-light-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,2},{140,189}}</string>
                <key>offset</key>
                <string>{-5,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,13},{140,189}}</string>
                <key>sourceSize</key>
                <string>{150,203}</string>
            </dict>
            <key>miner-sad-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,2},{140,183}}</string>
                <key>offset</key>
                <string>{-5,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,18},{140,183}}</string>
                <key>sourceSize</key>
                <string>{150,203}</string>
            </dict>
            <key>miner-sad-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,286},{140,179}}</string>
                <key>offset</key>
                <string>{-5,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,22},{140,179}}</string>
                <key>sourceSize</key>
                <string>{150,203}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>miner-sheet-1.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:51b0ddd15ec6d42553c48473943adfb0:1c7f0af22c55a532cbd2041810462d43:e07f11dd917b9f957f469527c9ac8e4f$</string>
            <key>textureFileName</key>
            <string>miner-sheet-1.png</string>
        </dict>
    </dict>
</plist>
