<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>miner-appear-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,772},{140,189}}</string>
                <key>offset</key>
                <string>{-5,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,13},{140,189}}</string>
                <key>sourceSize</key>
                <string>{150,203}</string>
            </dict>
            <key>miner-appear-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,2},{140,189}}</string>
                <key>offset</key>
                <string>{-5,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,13},{140,189}}</string>
                <key>sourceSize</key>
                <string>{150,203}</string>
            </dict>
            <key>miner-appear-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,2},{140,191}}</string>
                <key>offset</key>
                <string>{-5,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{140,191}}</string>
                <key>sourceSize</key>
                <string>{150,203}</string>
            </dict>
            <key>miner-appear-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,197},{140,191}}</string>
                <key>offset</key>
                <string>{-5,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{140,191}}</string>
                <key>sourceSize</key>
                <string>{150,203}</string>
            </dict>
            <key>miner-appear-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,193},{140,189}}</string>
                <key>offset</key>
                <string>{-5,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,13},{140,189}}</string>
                <key>sourceSize</key>
                <string>{150,203}</string>
            </dict>
            <key>miner-dig-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,386},{140,189}}</string>
                <key>offset</key>
                <string>{-5,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,13},{140,189}}</string>
                <key>sourceSize</key>
                <string>{150,203}</string>
            </dict>
            <key>miner-dig-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,577},{140,185}}</string>
                <key>offset</key>
                <string>{-5,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,17},{140,185}}</string>
                <key>sourceSize</key>
                <string>{150,203}</string>
            </dict>
            <key>miner-disappear-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,581},{140,189}}</string>
                <key>offset</key>
                <string>{-5,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,13},{140,189}}</string>
                <key>sourceSize</key>
                <string>{150,203}</string>
            </dict>
            <key>miner-disappear-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,776},{140,189}}</string>
                <key>offset</key>
                <string>{-5,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,13},{140,189}}</string>
                <key>sourceSize</key>
                <string>{150,203}</string>
            </dict>
            <key>miner-disappear-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,2},{140,189}}</string>
                <key>offset</key>
                <string>{-5,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,13},{140,189}}</string>
                <key>sourceSize</key>
                <string>{150,203}</string>
            </dict>
            <key>miner-disappear-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,195},{140,189}}</string>
                <key>offset</key>
                <string>{-5,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,13},{140,189}}</string>
                <key>sourceSize</key>
                <string>{150,203}</string>
            </dict>
            <key>miner-disappear-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,390},{140,189}}</string>
                <key>offset</key>
                <string>{-5,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,13},{140,189}}</string>
                <key>sourceSize</key>
                <string>{150,203}</string>
            </dict>
            <key>miner-strong-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,392},{150,191}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{150,191}}</string>
                <key>sourceSize</key>
                <string>{150,203}</string>
            </dict>
            <key>miner-strong-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,197},{140,193}}</string>
                <key>offset</key>
                <string>{-5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{140,193}}</string>
                <key>sourceSize</key>
                <string>{150,203}</string>
            </dict>
            <key>miner-strong-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{144,193}}</string>
                <key>offset</key>
                <string>{-3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{144,193}}</string>
                <key>sourceSize</key>
                <string>{150,203}</string>
            </dict>
            <key>miner-throw-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,585},{140,189}}</string>
                <key>offset</key>
                <string>{-5,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,13},{140,189}}</string>
                <key>sourceSize</key>
                <string>{150,203}</string>
            </dict>
            <key>miner-throw-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,776},{140,189}}</string>
                <key>offset</key>
                <string>{-5,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,13},{140,189}}</string>
                <key>sourceSize</key>
                <string>{150,203}</string>
            </dict>
            <key>miner-throw-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,585},{140,189}}</string>
                <key>offset</key>
                <string>{-5,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,13},{140,189}}</string>
                <key>sourceSize</key>
                <string>{150,203}</string>
            </dict>
            <key>miner-throw-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,384},{140,181}}</string>
                <key>offset</key>
                <string>{-5,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{140,181}}</string>
                <key>sourceSize</key>
                <string>{150,203}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>miner-sheet-2.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ca37ff5ff08d40e4a6af35548a7d40ef:f9ade39bbf9e1edb523e145971195a90:bf68962184a21b25f1e5b1c6f86470d2$</string>
            <key>textureFileName</key>
            <string>miner-sheet-2.png</string>
        </dict>
    </dict>
</plist>
